absl-py==0.6.1
aiohttp==2.3.10
aocr==0.7.5
appdirs==1.4.3
astor==0.7.1
async-timeout==2.0.1
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==2.1.3
boto==2.48.0
boto3==1.7.46
botocore==1.10.46
bs4==0.0.1
bz2file==0.98
cachetools==2.1.0
certifi==2018.4.16
chainer==4.0.0
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorama==0.4.1
coloredlogs==10.0
cupy==4.0.0
cycler==0.10.0
cymem==1.31.2
Cython==0.29.1
cytoolz==0.8.2
dask==0.20.2
decorator==4.3.0
dill==0.2.8.2
Distance==0.1.3
Django==2.1.7
docopt==0.6.2
docutils==0.14
-e git+https://github.com/nurdtechie98/drive-cli@d2aca6bd12d8dc7634a0194b7825ea014bd4bab0#egg=drive_cli
easydict==1.9
en-core-web-sm==2.0.0
entrypoints==0.2.3
fake-useragent==0.1.11
fastrlock==0.4
filelock==3.0.10
Flask==1.0.2
fs==2.2.1
future==0.17.1
gast==0.2.0
gensim==1.0.1
gevent==1.4.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
greenlet==0.4.15
grpcio==1.16.0
h5py==2.8.0
html5lib==1.0.1
httplib2==0.12.1
humanfriendly==4.17
idna==2.6
idna-ssl==1.1.0
image==1.5.27
instagram-private-api==1.5.7
instalooter==2.3.2
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==1.1.0
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.3
jpserve==0.1.0
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Lasagne==0.2.dev1
leveldb==0.194
libindic-soundex==1.1.4.dev11
lxml==4.3.0
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.8.3
mock==2.0.0
msgpack==0.5.6
msgpack-numpy==0.4.1
msgpack-python==0.5.6
multidict==4.5.0
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.2.5
nose==1.3.7
notebook==6.1.5
np-utils==0.5.7.0
numpy==1.14.4
oauth2client==4.1.3
oauthlib==2.1.0
opencv-python==3.4.3.18
pandas==0.23.0
pandocfilters==1.4.2
parso==0.2.1
pathlib==1.0.1
pbr==5.1.1
pexpect==4.6.0
pick==0.6.4
pickleshare==0.7.4
Pillow==5.1.0
plac==0.9.6
preshed==1.0.0
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
py-instagram-dl==1.5
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyfiglet==0.8.post1
Pygments==2.2.0
pyparsing==2.2.0
PySocks==1.6.8
pytesseract==0.2.6
python-dateutil==2.7.5
python-gflags==3.1.2
pytz==2018.4
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.0.0
qtconsole==4.3.1
regex==2017.4.5
requests==2.18.4
requests-oauthlib==1.0.0
rsa==4.0
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.9.0
Send2Trash==1.5.0
silpa-common==0.3
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.7
soupsieve==1.6.2
spacy==2.0.11
tb-nightly==1.13.0a20181106
telepot==12.5
tenacity==5.0.3.dev12
tensorboard==1.12.0
tensorboard-logger==0.0.4
tensorflow==1.12.0
tensorflow-estimator==1.10.12
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.1
tesserocr==2.4.0
testpath==0.3.1
tf-nightly-gpu==1.13.0.dev20181106
Theano==0.9.0
thinc==6.10.2
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
tweepy==3.6.0
tweet-preprocessor==0.5.0
typing==3.6.6
ujson==1.35
unicodecsv==0.14.1
UNKNOWN==0.0.0
uritemplate==3.0.0
urllib3==1.22
verboselogs==1.7
watson-developer-cloud==2.4.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.47.0
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wordcloud==1.4.1
wrapt==1.10.11
yarl==1.2.0
